@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .Hero::before {
        content: "";
        z-index: 0;
        background-image: url(../images/bgv.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center -63px;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .mask::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: 0.25s;
        opacity: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }

    .btn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 0.25rem;
        border-width: 1px;
        border-color: transparent;
        padding: 0.5rem 1rem;
        text-align: center;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 500;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition-duration: 150ms;
        transition-duration: 150ms;
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 100;
        src: url(../fonts/iransans/100.woff2) format("woff2"),
            url(../fonts/iransans/100.woff) format("woff")
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 200;
        src: url(../fonts/iransans/200.woff2) format("woff2"),
            url(../fonts/iransans/200.woff) format("woff")
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 300;
        src: url(../fonts/iransans/300.woff2) format("woff2"),
            url(../fonts/iransans/300.woff) format("woff")
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 400;
        src: url(../fonts/iransans/normal.woff2) format("woff2"),
            url(../fonts/iransans/normal.woff) format("woff")
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 500;
        src: url(../fonts/iransans/500.woff2) format("woff2"),
            url(../fonts/iransans/500.woff) format("woff")
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 600;
        src: url(../fonts/iransans/600.woff2) format("woff2"),
            url(../fonts/iransans/600.woff) format("woff")
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 700;
        src: url(../fonts/iransans/bold.woff2) format("woff2"),
            url(../fonts/iransans/bold.woff) format("woff")
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 800;
        src: url(../fonts/iransans/800.woff2) format("woff2"),
            url(../fonts/iransans/800.woff) format("woff")
    }

    @font-face {
        font-family: iransans;
        font-style: "";
        font-weight: 900;
        src: url(../fonts/iransans/900.woff2) format("woff2"),
            url(../fonts/iransans/900.woff) format("woff")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 100;
        src: url(../fonts/yekan-bakh-new/woff/100.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/100.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/100.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 300;
        src: url(../fonts/yekan-bakh-new/woff/300.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/300.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/300.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 500;
        src: url(../fonts/yekan-bakh-new/woff/500.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/500.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/500.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 600;
        src: url(../fonts/yekan-bakh-new/woff/600.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/600.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/600.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 400;
        src: url(../fonts/yekan-bakh-new/woff/normal.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/normal.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/normal.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 700;
        src: url(../fonts/yekan-bakh-new/woff/bold.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/bold.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/bold.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 800;
        src: url(../fonts/yekan-bakh-new/woff/800.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/800.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/800.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 900;
        src: url(../fonts/yekan-bakh-new/woff/900.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/900.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/900.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-new;
        font-style: "";
        font-weight: 950;
        src: url(../fonts/yekan-bakh-new/woff/950.woff) format("woff"),
            url(../fonts/yekan-bakh-new/woff2/950.woff2) format("woff2"),
            url(../fonts/yekan-bakh-new/ttf/950.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-fanum;
        font-style: "";
        font-weight: 100;
        src: url(../fonts/yekan-bakh-fanum/eot/100.eot?) format("eot"),
            url(../fonts/yekan-bakh-fanum/woff/100.woff) format("woff"),
            url(../fonts/yekan-bakh-fanum/ttf/100.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-fanum;
        font-style: "";
        font-weight: 200;
        src: url(../fonts/yekan-bakh-fanum/eot/200.eot?) format("eot"),
            url(../fonts/yekan-bakh-fanum/woff/200.woff) format("woff"),
            url(../fonts/yekan-bakh-fanum/ttf/200.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-fanum;
        font-style: "";
        font-weight: 300;
        src: url(../fonts/yekan-bakh-fanum/eot/300.eot?) format("eot"),
            url(../fonts/yekan-bakh-fanum/woff/300.woff) format("woff"),
            url(../fonts/yekan-bakh-fanum/ttf/300.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-fanum;
        font-style: "";
        font-weight: 500;
        src: url(../fonts/yekan-bakh-fanum/eot/500.eot?) format("eot"),
            url(../fonts/yekan-bakh-fanum/woff/500.woff) format("woff"),
            url(../fonts/yekan-bakh-fanum/ttf/500.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-fanum;
        font-style: "";
        font-weight: 400;
        src: url(../fonts/yekan-bakh-fanum/eot/normal.eot?) format("eot"),
            url(../fonts/yekan-bakh-fanum/woff/normal.woff) format("woff"),
            url(../fonts/yekan-bakh-fanum/ttf/normal.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-fanum;
        font-style: "";
        font-weight: 700;
        src: url(../fonts/yekan-bakh-fanum/eot/bold.eot?) format("eot"),
            url(../fonts/yekan-bakh-fanum/woff/bold.woff) format("woff"),
            url(../fonts/yekan-bakh-fanum/ttf/bold.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-fanum;
        font-style: "";
        font-weight: 800;
        src: url(../fonts/yekan-bakh-fanum/eot/800.eot?) format("eot"),
            url(../fonts/yekan-bakh-fanum/woff/800.woff) format("woff"),
            url(../fonts/yekan-bakh-fanum/ttf/800.ttf) format("truetype")
    }

    @font-face {
        font-family: yekan-bakh-fanum;
        font-style: "";
        font-weight: 900;
        src: url(../fonts/yekan-bakh-fanum/eot/900.eot?) format("eot"),
            url(../fonts/yekan-bakh-fanum/woff/900.woff) format("woff"),
            url(../fonts/yekan-bakh-fanum/ttf/900.ttf) format("truetype")
    }


}